.form {
  display: flex;
}

.input {
  border: none;
  border-radius: 0;
  width: 100%;
  background: #26273c;
  padding: 15px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  background: #35b570;
  display: inline-block;
  border: none;
  min-width: 50px;
}
